h1 {
    box-sizing: border-box;
    color: #7e1919cf;
    margin: 15px auto;
    font-size: 3.8rem;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family: fantasy;
    text-align: center;
    
h2 {
    box-sizing: border-box;
    color: #580707cf;
    font-weight: 700;
    font-size: 1.8rem;
    margin: 14px auto;
    /* text-transform: uppercase; */
    letter-spacing: 5px;
    font-family: fantasy;
    background: white;
}

h3 {
    box-sizing: border-box;
    color: #7e1919cf;
    font-weight: 700;
    font-size: 1.8rem;
    margin: 13px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: fantasy;
}
