h1 {
    box-sizing: border-box;
    color: #7e1919cf;
    margin: 15px auto;
    font-size: 3.8rem;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family: fantasy;
    text-align: center;
    
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    /* text-transform: none; */
    /* text-indent: 0px; */
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 1em;
    padding: 9px 17px;
    border-width: 1px;
    border-style: outset;
    border-color: #c9763bad;
    border-image: initial;
    border-radius: 8px;
    background-color: #c9763bad;
}
