 /* Not finished yet, more changes will be made*/

* {
    box-sizing: border-box;
    color: #7e1919cf;
    font-weight: 200;
    margin: 15px auto 0;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family: fantasy;
    text-align: left;
}

div {
    box-sizing: border-box;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 200;
    margin: 15px auto 0;
    font-family: sans-serif;
}

h3 {
    box-sizing: border-box;
    color: #7e1919cf;
    margin: 1px auto;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: fantasy;
    text-align: center;
    
}

input {
    display: flex;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: white;
    margin: 0em;
    padding: 7px 23px;/
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-radius: 8px;
    font-family: Arial;
    font-weight: 900;
    font-size: x-large;
    text-transform: uppercase;
}

button {
appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 1em;
    padding: 9px 17px;
    border-radius: 8px;
    border-width: 0px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    background-color: #c9763bad;
}
button:hover {
  box-shadow: 0 9px 17px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.20);
}
Placeholder {
    font-weight: 200;
    margin: 15px auto 0;
}

element.style {
    width: 900px;
    aspect-ratio: auto 600 / 600;
    height: 900px;
}
